chromadb
faiss-cpu
fastapi
google-generativeai
keybert
langchain
langchain-chroma
langchain-community
langchain-core
langchain-text-splitters
psutil
pydantic
PyMuPDF
rank-bm25
requests
sentence-transformers
streamlit
tenacity
tiktoken
tqdm
uvicorn