chromadb
fastapi
google-generativeai
keybert
langchain
langchain-chroma
langchain-community
langchain-core
networkx
pandas
psutil
pydantic
PyMuPDF
rank-bm25
requests
scikit-learn
sentence-transformers
streamlit
tenacity
tiktoken
tqdm
uvicorn